@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-background: #ffffff;
    --clr-text:#444444;
    --clr-secondary-text:#6d83ff;
    --clr-button-background: #c02afc;
    --clr-countainer-background: #7c7c7c93;
    --clr-palette-1: #5EDB0F;
    --clr-palette2:#524d52;
    --clr-palette3:#0408e1;
    --clr-palette4:#6E7868;
    --clr-palette5:#1F2080;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}

body{
    margin: 0;
    background: var(--clr-background);
    color: var(--clr-text);
    
}

.body{
    align-content: flex-start;
    display: flex;
    overflow: hidden;
    flex-direction: row;
}

.left_column{
    flex: 1;
    padding: 20px;
}

.right_column{

    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
}

.order_container{
    background-color: #007bff;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    
    
}

.container2{
    display: flex;
    
}



.order_informations{
    flex: 1;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    
}

.order_button{
    flex: 1;
    width: 100%;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}



.button{
    margin-top: 15px;
    padding: 4px 24px;
    color:white;
    background-color: var(--clr-palette-1);
    border-color: var(--clr-palette-1);
    border-radius: 1rem;
    text-decoration: none;

}



.button_order{
    flex: 1;
    margin-top: 15px;
    padding: 4px 24px;
    background-color: var(--clr-text);
    border-color: var(--clr-text);
    color: var(--clr-background); 
    border-radius: 1rem;
    text-decoration: none;
}


.order_container{
    display: inline-block;
    margin-top: 15px;
}
.order_container_right{
    margin-top:15px;
}
    



.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    

}

.logo {
    font-size: 30px;
    color: var(--clr-text);
    text-decoration: none;
    font-weight: 600;
    margin-left: 5%;
}

.box {
    font-size: 10px;
    color: var(--clr-text);
    text-decoration: none;
    font-weight: 600;
}

.navbar{
    display: block;
    margin-right: 5%;
}

.navbar a{
    font-size: 16px;
    color: var(--clr-text);
    text-decoration: none;
    font-weight: 500;
    margin-left: 15px;
    transition: .3s;
}

.navbar a:hover,
.navbar a:active{
    color: var(--clr-secondary-text);

}

.home{
    align-content: flex-start;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}



.auth-container{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    margin-block-end: auto;
    background: var(--clr-countainer-background);
    border-radius: 10px;

    
}

.auth-container h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px;
}

.auth-container form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt-field{
    position: relative;
    border-bottom: 2px;
    margin: 30px 0;
    
}



.txt-field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;

}

.txt-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt-field span ::before{
 content: '';
 position: absolute;
 top: 40px;
 left: 0;
 width: 0%;
 height: 2px solid -var(--clr-background);
 transition: .5s;  
}

.txt-field input:focus ~ label,
.txt-field input:valid ~ label{
    top: -5px;
}

.txt-field input:focus ~ span::before,
.txt-field input:valid ~ span::before{
    width: 100%;
}

.pass{
    margin: -5px 0 20px 5px;
    cursor: pointer;
}

.pass:hover{
    text-decoration: underline;
}

.btn_auth_login{
    width: 90%;
    margin-left: 5%;
    height: 50px;
    border: var(--clr-text);
    border-radius: 25px;
    background: var(--clr-background);
    color: var(--clr-text);
    font-size: 18px;
}
.submit{
    color: var(--clr-text);
}

@media screen and (max-width: 790px) {
    .box{
        visibility: collapse;
        width: 0;
        height: 0;
    }
    
}



@media screen and (max-width: 595px) {
    .header{
        display: grid;
    }
    .box{
        height: 0;
    }
    .navbar {
        margin-right: 0%;
    }

}

@media screen and (max-width: 450px) {

    .body{
        font-size: 14px;
    }
    
    
    .auth-container{
        width: 300px;
    }
}
