{% include 'base.html' %}


<body>
    {% include 'navbar.html' %}
    {% block content %}

    <section class="body col">
        <div class="content padding">
            <h1 class="full-text">First online personalized training</h1>
        </div>
        <div class="container padding">
            <h3>Text1</h3>
            <p>Text2</p>
           
            <!-- here container with price -->
           

        </div>
        <div class="second-row">
            <div >
                <a href="/faq" class="text-button">Show more</a>
                <a href="/accounts/login" class="button button-home">You have account?</a>
                
            </div>
            <div>
                {%for p in products%}
                    <div>
                        <h3>{{p.name}}</h3>
                        {%for pr in price%}
                            {%if pr.product.tag == p.tag%}
                                <h4>price: {{pr.price}} {{pr.currency}}</h4>
                            {%endif%}
                        {%endfor%}
                    </div>
                    <div>
        
                        <a href="/product/{{p.tag}}" class="button button-home">Go to {{p.name}}</a>
                    </div>
                {%endfor%}
            </div>
            
        </div>
    </section>
    
    


</body>
{% endblock %}

</html>