<header class="header">
        <a href="/" class="logo">Gym Perso.</a>
        <a href="#" class="box">Welcome in new gym technology</a>
        <nav class="navbar">
            <a href="/".class="active">Home</a>
            <a href="/faq">About</a>
            <a href="/contact">Contact</a>
            
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">Profile</a>
                <a href="{% url 'page_logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
            {% if user.is_admin %}
                <a href="/admin" class="buttonLogin">admin</a>
                <a href="/product/test" class="buttonLogin">test prod</a>
            {% endif %}
        </nav>
        
</header> 

<hr>