{% include 'base.html' %}

<body>
    {% include 'navbar.html' %}
    {% block content %}
    <section class="body-center">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <table>
                    <div>
                        <h4>we need more informations about you</h4>
                    </div>
                    <div>
                        <input type="text" name='name' placeholder='first name'>first name</input>
                        <input type="text" name='last_name' placeholder="last name"> last name</input>
                    </div>

                    <div>
                        <input type="phone", name='phone', placeholder='phone'>phone number</input>
                      
                    </div>
                    <div>
                        <input type="date", name='date', placeholder='date'>date birthday</input>
                      
                    </div>
                    <div>
                        <input type="text", name='city', placeholder='city'>city</input>
                      
                    </div>
                    <div>
                        <a href="/marketing_regulations" class="small_text_button">read regulations</a>
                    </div>

                    <div>
                        <input type="checkbox", name='marketing_regulations'> accept markteting regulations</input>
                    </div>
                    <div>
                        <button type="submit">Register</button>
                      
                    </div>
                </table>
                
              </form>
        </div>
    </section>
    


</body>
{% endblock %}

</html>