{% include 'base.html' %}

<body>
    {% include 'navbar.html' %}
    {% block content %}
    <section class="body-center">
        <div class="container">
            <h3>Register to Gym Perso</h3>
            <form method="post">
                {% csrf_token %}
                <table>
                    <div>
                        <input type="email", name='email', placeholder='email'>email</input>
                      
                    </div>
                    <div>
                        <input type="password" name='password' placeholder='password'>password</input>
                    </div>
                    
                    

                    <div>
                        <a href="/regulations" class="small_text_button">read regulations</a>
                    </div>

                    <div>
                        <input type="checkbox" name="check_regulations"> accept regulations</input>
                    </div>

                    <div>
                        <h5 class="error_text">{{error}}</h5>
                    </div>
                    <div>
                        <button type="submit">Register</button>
                      
                    </div>
                
              </form>
        </div>
    </section>
    


</body>
{% endblock %}

</html>