{% include 'base.html' %}


<body>
    {% include 'navbar.html' %}
    {% block content %}
    
    <section class="content padding">
        <div class="container padding">
            <h1> Hello, </h1>

            <h1> </h1>
            <h1> </h1>
            <h1> </h1>
            
            <form method="post">
            {% csrf_token %}
                {{test_result}}
                {{translate.l_pl}}
                <button type="submit">Test</button>

            </form>

            

           
        </div>

        
    </section>
    


</body>
{% endblock %}

</html>